* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #E5C9D7;

}

.main {
  background-color: antiquewhite;
  margin: 100px auto auto auto;
  width: 400px;
}

.main-title {
  background-color: bisque;
  text-align: center;
  padding: 10px;
}

img {
  object-fit: cover;
  object-position: center center;
  width: 400px;
  /* height: 400px; */
}

#overview {
  padding: 20px;
  text-align: center;
}

#back {
  text-decoration: none;
  display: inline-block;
  border: 2px solid #1234;
  color: white;
  background-color: black;
  padding: 2px;
  margin-top: 10px;
}

#overview {
  list-style: none;
}

#overview a {
  color: black;
}

#overview li {
  padding: 10px;
}

.instructions {
  padding-bottom: 10px;
  margin-left: 10px;
  padding-left: 15px;
}
.instructions li {
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px
}

.description {
  /* text-align: center; */
  border: 2px solid black;
  width: 400px;

}

.description h3 {
  background-color: white;
  width: 396px;
}

.title-photo{
  display: inline-block;
  margin: auto;

}

/*
.description {
  font-size: small;
  margin: 0 10px;
}

.instructions {
  padding: 5px 20px;
} */
/* 
ul,
ol {
  display: inline-table;
  border: 2px dotted #1234;
} */